<!DOCTYPE html>
<html lang="en">

  {% include 'head' %}

  <body>
    {{ content }}

    <script src="https://apis.google.com/js/api.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR03AOuNe_Z8YVJNACySoAp623SncQA3Y&libraries=places&callback=initMap"></script>

    {% for file in js-footer %}
      <script src="{{ file | url }}"></script>
    {% endfor %}
  </body>

</html>