<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/goe1fni.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  {% for file in css %}
    <link rel="stylesheet" href="{{ file | url }}">
  {% endfor %}


  {% for file in js-head %}
    <script src="{{ file | url }}"></script>
  {% endfor %}

  <title>{{ title }}</title>
</head>